
{{template  "base" .}}

{{define "content"}}

<div class="container">

    <div class="row">
        <div class="col">
            <img src="static/images/Majors.jpg" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="generals room">
        </div>
    </div>

  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">Majors Quarters</h1>
      <p>Overlooking tranquil pool and lush garden our luxury suites & hotel rooms in Lucknow are undoubtedly 
          an ideal choice for global travellers. Guests can also enjoy the on-site restaurants. The property has a rooftop infinity room. 
          Every room at this hotel is air conditioned and comes with a flat .</p>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
  
      <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
    </div>
  </div>
</div>

{{end}}


